<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Images/icono.webp') }}">
    
    <title>Inicio de sesión</title>
</head>
<body>
    <div class="interfaz">
        <div class="titulo">
            <h2>Login</h2>
        </div>

        <form class="formulario-login" method="POST" action="/login">

            <div class="campo-grupo">
                <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    placeholder="Tu correo electrónico" 
                    required
                >

                <i class="fa-solid fa-user"></i>
            </div>

            <div class="campo-grupo">
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    placeholder="Tu contraseña" 
                    required
                >
                <i class="fa-solid fa-key"></i>
            </div>

            <button type="submit">Iniciar Sesión</button>

            <div class="enlaces-extra">
                <a href="/forgetpass">¿Olvidaste tu contraseña?</a><br>
                <a href="/register">Registrarse</a>
            </div>

        </form>
    </div>
</body>
</html>
